!!!
%html
  %head
    %meta(http-equiv='Content-Type' content='text/html;charset=utf-8')
    %meta(name='MobileOptimized' content='width')
    %meta(name='HandheldFriendly' content='true')
    %meta(name='viewport' content='width=device-width')

    - page[:stylesheets].each do |s|
      %link(rel='stylesheet' type='text/css' href='#{s[:href]}' media='#{s[:media]}')

    - if config[:noindex]
      %meta(name='robots' content='noindex, nofollow')

    /[if IE 7]
      %link(rel='stylesheet' type='text/css' href='#{config[:base_url]}/css/ie7.css' media='all')

    :javascript
      var baseUrl = #{config[:base_url].to_json};
      var uploadDest = #{config[:upload_dest].to_json};
      var pageFullPath = #{request.path[1..-1].to_json};

    - page[:scripts].each do |s|
      %script(type='text/javascript' src=s)

    - if config[:mathjax]
      - if config[:mathjax_config].nil?
        :javascript
          window.MathJax = {
            text2jax: {
              inlineMath: [ ['$','$'], ['\\(','\\)'] ],
              displayMath: [ ['$$','$$'], ['\\[','\\]'] ],
              processEscapes: true
            },
            TeX: { extensions: ['autoload-all.js'] }
          };
      :javascript
        (function(d,j){
        j = d.createElement('script');
        j.src = '//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML';
        (d.head || d.getElementsByTagName('head')[0]).appendChild(j);
        }(document));

    %title= page[:title]

  %body
    :javascript
      Mousetrap.bind(['e'], function( e ) {
        e.preventDefault();
        window.location = '/edit' + window.location.pathname; // XXX this seems broken
        return false;
      });
    #wiki-wrapper.page
      .ui.fixed.inverted.menu
        .ui.container
          %a.header.item(href='#{config[:base_url]}/')
            %img.logo(src='#{config[:base_url]}/img/#{config[:wiki_logo]}')
            %p(style='padding-left: 5px')= config[:wiki_name]
          %a.item(href='#{config[:base_url]}/')
            %i.home.icon
            Home
          %a.item(href='#{config[:base_url]}/pages')
            %i.folder.open.outline.icon
            All
          %a.item(href='#{config[:base_url]}/fileview')
            %i.file.outline.icon
            Files
          .ui.simple.dropdown.item
            %i.edit.icon
            Menu
            %i.dropdown.icon
              .menu
                - if config[:allow_editing]
                  %a#minibutton-new-page.item(href='#')
                    %i.add.square.icon
                      New
                  - if config[:allow_uploads]
                    %a#minibutton-upload-page.item(href='#')
                      %i.upload.icon
                        Upload
                  - if page[:editable]
                    %a#minibutton-rename-page.item(href='#')
                      %i.edit.icon
                      Rename
                    %a.item(href='#{config[:base_url]}/edit/#{URI.encode(request.path[1..-1])}')
                      %i.write.icon
                      Edit
                  .divider
                  - if page[:exists]
                    %a.item(href='#{config[:base_url]}/history/#{URI.encode(request.path[1..-1])}')
                      %i.history.icon
                      Page History
          %a.item(href='#{config[:base_url]}/latest_changes') Lastest Wiki Changes
          .item
            .ui.transparent.inverted.icon.input
              %form#search-form(action='#{config[:base_url]}/search' method='get')
                %input(type='text' name='q' placeholder='Search...')
                %i.search.link.icon.button(onclick='submitSearch()')
      #head
        %h1= page[:title]

      #wiki-content
        .has-sidebar{:class => "{{#has_header}}has-header{{/has_header}}{{#has_footer}} has-footer{{/has_footer}}{{#has_sidebar}} has-{{bar_side}}bar{{/has_sidebar}}{{#has_toc}} has-toc{{/has_toc}}"}
          - unless page[:toc].nil?
            #wiki-toc-main= page[:toc]
          - unless page[:sidebar].nil? || page[:sidebar][:format].nil? || page[:sidebar][:body].nil?
            #wiki-sidebar(class='gollum-#{page[:sidebar][:format]}-content')
              #sidebar-content.markdown-body= page[:sidebar][:content]
          #wiki-body(class="gollum-#{page[:format]}-content")
            - unless page[:header].nil? || page[:header][:format].nil? || page[:header][:body].nil?
              #wiki-header(class="gollum-#{page[:header][:format]}-content")
                #header-content.markdown-body= page[:header][:content]
            .markdown-body= page[:body]
          - unless page[:footer].nil? || page[:footer][:format].nil? || page[:footer][:body].nil?
            #wiki-footer(class="gollum-#{page[:footer][:format]}-content")
              #footer-content.markdown-body= page[:footer][:content]
      #footer
        %p#last-edit
          Last edited by
          = succeed ',' do
            %b= page[:last_edit][:author]
          = page[:last_edit][:date]
        - if config[:allow_editing]
          %p
            %a#delete-link(href="#{config[:base_url]}/#{URI.encode(request.path[1..-1])}"){"data-confirm" => "Are you sure you want to delete this page?"}
              %span Delete this Page
    %form(action="#{config[:base_url]}/rename/#{URI.encode(request.path[1..-1])}" method="POST" name="rename")
      %input(name="rename" type="hidden")
      %input(name="message" type="hidden")
